<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET"/>


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/QualABoaApp"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TelaCadastro"
        tools:targetApi="31">

        <activity
            android:name=".ui.theme.ConfiguracoesActivity"
            android:exported="false"
            android:label="@string/title_activity_tela_configuracoes"
            android:theme="@style/Theme.TelaCadastro" />

        <activity
            android:name=".ui.theme.splash_screen.SplashActivity"
            android:exported="true"
            android:label="@string/title_activity_splash_screen"
            android:theme="@style/Theme.TelaCadastro">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.theme.login.LoginActivity"
            android:exported="false"
            android:label="@string/title_activity_tela_login"
            android:theme="@style/Theme.TelaCadastro" />

        <activity
            android:name=".ui.theme.pagina_inicial.LoginCadastroActivity"
            android:exported="false"
            android:label="@string/title_activity_login_cadastro_inicial"
            android:theme="@style/Theme.TelaCadastro" />

        <activity
            android:name=".ui.theme.cadastro.CadastroActivity"
            android:exported="true"
            android:label="@string/QualABoaApp"
            android:theme="@style/Theme.TelaCadastro" />

        <!-- Declaração do HomeActivity -->
        <activity
            android:name=".ui.theme.home.HomeActivity"
            android:exported="true"
            android:label="@string/QualABoaApp"
            android:theme="@style/Theme.TelaCadastro" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="SUA_CHAVE_API_AQUI" />
    </application>
</manifest>
